---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import HotSale from '@/components/HotSale.astro';
import { getI18N } from '@/i18n';
import Layout from '@/layouts/Layout.astro';
import Banner from '../Banner.astro';
import CategoriesGrid from '../CategoriesGrid.astro';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={`${i18n.CEO_TITLE}`}>
  <Header />
  <Banner />
  <main>
    <div class="py-10 flex justify-center">
      <img src='./logos.webp' class=" w-[900px] h-auto" alt='logotipos' />
    </div>

    <HotSale />
    <CategoriesGrid />
  </main>

  <Footer />
</Layout>

<style></style>
