---
import NavLink from '@/components/NavLink.astro';
import HeartIcon from '@/components/icons/HeartIcon.astro';
import MenuBarsIcon from '@/components/icons/MenuBarsIcon.astro';
import SearchIcon from '@/components/icons/SearchIcon.astro';
import ShoppingIcon from '@/components/icons/ShoppingIcon.astro';
import UserIcon from '@/components/icons/UserIcon.astro';
import { NavCategories } from '@/components/Header/NavCategories.tsx';
import { getI18N } from '@/i18n/index';

import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav class='relative flex flex-row items-center justify-between h-full'>
  <img src='./logo.webp' class='w-24 lg:w-60 pl-4' alt={i18n.CEO_TITLE} />
  <h1 class='sr-only'>{i18n.CEO_TITLE}</h1>
  <div class='hidden lg:flex lg:gap-4 font-semibold'>
    <NavLink
      class='hover:text-red-600 transition delay-300 ease-linear'
      href={translatePath('/nuevo/')}
    >
      {t('nav.new')}
    </NavLink>

    <button
      class='hover:text-red-600 transition ease-in-out uppercase'
      id='btnCategories'
    >
      {t('nav.catagories')}
    </button>

    <NavLink
      class='hover:text-red-600 transition ease-in-out'
      href={translatePath('/branches/')}
    >
      {t('nav.branches')}
    </NavLink>
    <NavLink
      class='hover:text-red-600 transition ease-in-out'
      href={translatePath('/services/')}
    >
      {t('nav.services')}
    </NavLink>
    <NavLink
      class='hover:text-red-600 transition ease-in-out'
      href={translatePath('/hot-sale/')}
    >
      {t('nav.hot-sale')}
    </NavLink>
  </div>

  <div class='flex gap-x-4 items-center pr-4'>
    <NavLink href='#'>
      <SearchIcon class='size-6 text-gray-600' />
    </NavLink>
    <NavLink href='#'>
      <UserIcon class='size-6 text-gray-600' />
    </NavLink>
    <NavLink href='#'>
      <HeartIcon class='size-6 text-gray-600' />
    </NavLink>
    <NavLink href='#'>
      <ShoppingIcon class='size-6 text-gray-600' />
    </NavLink>

    <NavLink href='#' class='lg:hidden'>
      <MenuBarsIcon class='size-6 text-gray-600' />
    </NavLink>
  </div>

  <NavCategories client:load />
</nav>
<script>
  import { isOpen } from '../../stores/categoriesNavBarMenu.ts';
  const toggleNavBarCategories = () => {
    isOpen.set(!isOpen.get());
  };

  document
    .getElementById('btnCategories')
    ?.addEventListener('click', toggleNavBarCategories);
</script>
