---
import NavLink from "@/components/NavLink.astro"
import HeartIcon from "@/components/icons/HeartIcon.astro"
import SearchIcon from "@/components/icons/SearchIcon.astro"
import ShoppingIcon from "@/components/icons/ShoppingIcon.astro"
import UserIcon from "@/components/icons/UserIcon.astro"
import { getI18N } from "@/i18n/index"
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@/i18n/utils"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---
<nav class="flex items-center justify-between h-full px-4">  
 
  <img src='./logo.webp' height={65} width={225} alt='' />
  <h1 class="sr-only">Massive Home</h1>
  <div class="flex gap-4">
      <NavLink href={translatePath('/nuevo/')}>{t('nav.new')}</NavLink>
      <NavLink href={translatePath('/categories/')}>{t('nav.catagories')}</NavLink>
      <NavLink href={translatePath('/branches/')}>{t('nav.branches')}</NavLink>
      <NavLink href={translatePath('/services/')}>{t('nav.services')}</NavLink>
      <NavLink href={translatePath('/hot-sale/')}>{t('nav.hot-sale')}</NavLink>
  </div>

  <div class="flex gap-x-4 items-center">
    <NavLink href="#">
      <SearchIcon class="size-6 text-gray-600" />
    </NavLink>
    <NavLink href="#">
      <UserIcon class="size-6 text-gray-600" />
    </NavLink>
    <NavLink href="#">
      <HeartIcon class="size-6 text-gray-600" />
    </NavLink>
    <NavLink href="#">
      <ShoppingIcon class="size-6 text-gray-600" />
    </NavLink>
  </div>
</nav>
