---
const Message = 'Compra por caja minimo de $6,00.00'
---
<div class="relative w-full h-6 bg-black text-white font-semibold flex flex-row justify-between">
    <div class="box-header-message">{Message} </div>
    <div class="box-header-message">{Message} </div>
    <div class="box-header-message">{Message} </div>
    <div class="box-header-message">{Message} </div>
</div>
<style> 
    @keyframes translateXAnimation {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100vw); /* Move it across the viewport width */
        }
    }
    .box-header-message {       
        height: 100px;        
        position: relative;
        animation: translateXAnimation 10s linear infinite; 
    }
</style>