---
import CategoryCard from './card/CategoryCard.astro';
---

<section class='grid grid-cols-1 lg:grid-cols-3 gap-2 mb-10'>
  <h2 class='sr-only'>Categories</h2>
  <CategoryCard>
    <a href='#'><img src='./6.webp' alt='Ver Audio' /></a>
  </CategoryCard>
  <CategoryCard>
    <a href='#'><img src='./7.webp' alt='Ver Ventilacion' /></a>
  </CategoryCard>
  <CategoryCard>
    <a href='#'><img src='./8.webp' alt='Ver Audio' /></a>
  </CategoryCard>
</section>
