---
import NavLink from '@/components/NavLink.astro';
import ArrowRight from '@/components/icons/ArrrowRight.astro';
---

<section class='relative grid grid-cols-1 lg:grid-cols-4 py-2 gap-3'>
  <h2 class='sr-only'>Hot Sale</h2>
  <img src='2.webp' alt='' />
  <img src='3.webp' alt='' />
  <img src='4.webp' alt='' />
  <img src='5.webp' alt='' />
  <NavLink href='#' class='absolute right-5 top-[50%] text-gray-600'>
    <ArrowRight class='size-10' />
  </NavLink>
</section>
